#NN{
	position: relative;
	text-align: center;
   	left: 0px;
   	margin-left: 150px;
}
#subtitulo {
	position:absolute;
	left:50%;
	top:95px;
	width:431px;
	height:35px;
	z-index:8;
	margin-left:-190px;
}
.td_tabla_interna{
	position: relative;
	text-align: left;
   	left: 15px;
}