#agregar_grupo {
	height:115px;
	left: 20px;
	position:absolute;
	top: 153px;
	width:200px;
	z-index:1;
}
#agregar_cuenta {
	height:115px;
	left: 25px;
	position:absolute;
	top: 195px;
	width:200px;
	z-index:2;
}
#agregar_subcuenta {
	height:115px;
	left: 25px;
	position:absolute;
	top: 233px;
	width:200px;
	z-index:3;
}