

#contenido_tabla{
	margin-top: 15px;
}
#CaTe,
#SaldoA{
	background-color: #E4EEF9;
	left: 0;
	margin-left: 37px;
	position: absolute;
	top:0;
	width: 896px;
}
#CaTe{

	margin-top: 193px; 
}
#SaldoA{
	margin-top: -10px; 
}
#CaTe #CaTename strong,
#SaldoA #Salname strong{
	color: rgb(0, 0, 51); 
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	position:  absolute;
	top:0;
	margin-top: 5px;
	margin-left: -350px;
}
#SaldoA #Salinp{

}
#Cateinp input
{	top:0;
	margin-top: 5px;
	margin-left: -320px;
}
#SaldoA #Salinp input{
	top:0;
	margin-top: 5px;
	margin-left: -320px;
}
.texto_blanco{

}
.titulos{
	font-size: 16px;
	
}
