/**
#Parametrizacion
@ParametrizacionFuncionario.php
 */
#cargo{
	left       : 0;
	margin-left: -280px;
	margin-top : 48px;
	position   : relative;
	top        : 0;

}
#carN{
	left       : 0;
	margin-left: 70px;
	margin-top : 48px;
	position   : absolute;
	top        : 0;
}
#tablafun{
	position: relative;
	top: 0px;
	margin-top: -10px;
	z-index: 999;
}
/*-------------------cargar(cedula)------------*/
 span{
        color:#555555;
        font-weight:bold;
        padding-bottom:2px;
        padding-left:16px;
        position: absolute;
        top:0;
        right: 0;
        margin-top: 70px;
        margin-right: -5px;
      }
 
      span.checked{
        background:url("../images/img/checked.gif") no-repeat scroll 0 0 transparent;
        color:#3581CC;
      }
      span.error{
        background:url("../images/img/unchecked.gif") no-repeat scroll 0 0 transparent;
        color:#EA5200;
      }
