#subtitulo {
	position:absolute;
	left:263px;
	top:19px;
	width:431px;
	height:35px;
	z-index:8;
	margin-left:-190px;
}
#subtitulo1 {
position:absolute;
	left:50%;
	top:95px;
	width:384px;
	height:35px;
	z-index:8;
	margin-left:-190px;
}
#subtitulo2 {
	position:absolute;
	left:50%;
	top:95px;
	width:565px;
	height:35px;
	z-index:8;
	margin-left:-190px;
}
#subtitulo3 {
	position:absolute;
	left:50%;
	top:95px;
	width:552px;
	height:35px;
	z-index:8;
	margin-left:-190px;
}